<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>Eqlem Management</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzTitle="Müşteri Yönetimi" nzIcon="idcard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/customers">Müşteriler</a>
                    </li>

                </ul>
            </li>
            <li nz-submenu nzTitle="Sistem Yönetimi" nzIcon="pic-center">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/management', 'customer-api']">Müşteri API Yönetimi</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>